<header class="navbar">
  <div class="logo">🎬 MovieZ</div>

  <nav class="nav-links">
    <a href="../index/index.html">Home</a>
    <a href="../movies/top10.html">Top 10</a>
    <a href="../movies/genre.html">Genuri</a>
  </nav>

  <div class="search-bar">
    <input type="text" placeholder="Caută filme..." />
    <button>🔍</button>
  </div>
<div class="theme-toggle-container" aria-label="Schimbă tema">
  <button id="theme-toggle" aria-label="Schimbă tema">🌙</button>
</div
  <div class="auth-links">
    <a href="../auth/login.html">Login</a>
    <a href="../auth/register.html">Register</a>
  </div>
</header>
