.movie-list, .movie-genres {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
}

.movie-list ul, .movie-genres ul {
  list-style: none;
  padding: 0;
}

.movie-list li, .movie-genres li {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #555;
}
