/* Navbar */
#navbar nav {
    background-color: #333;
    padding: 10px;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #navbar ul li {
    display: inline;
    margin-right: 20px;
  }
  
  #navbar ul li a {
    color: white;
    text-decoration: none;
  }
  
  #navbar ul li a:hover {
    color: #ffcc00;
  }
  
  /* Conținut principal */
  .main-content {
    text-align: center;
    margin-top: 60px;
    padding: 20px;
  }
  
  .main-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .main-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .cta-button:hover {
    background-color: #218838;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 5px 0;
  }
  